In [1]:
print("Tile of project")

Tile of project

In [2]:
print('Create a Markdown cell for Introduction')

Create a Markdown cell for Introduction

In [5]:
print('List of Data Science Language 1.Python,2.SQL,3.R Language')

List of Data Science Language 1.Python,2.SQL,3.R Language

In [6]:
print('Numpy,Pandas,Matplotlib,scikit-Learn,Scipy')

Numpy,Pandas,Matplotlib,scikit-Learn,Scipy

In [7]:
print('MS Excel,Apache Spark,Matlab,SAS')

MS Excel,Apache Spark,Matlab,SAS

In [10]:
print ('Arthimatic Expression')

Arthimatic Expression

In [11]:
(3+4)

7

In [13]:
(3*4)-2

10

In [15]:
>>>a=[2,4,6,8]
>>>a

SyntaxError: invalid syntax (1890339726.py, line 1)